
*{
    background-color:rgba(202, 231, 250, 0.904) ;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header nav{
 padding-top: 5px;
 margin-right: 5px;
 float: right;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 20px;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px
    position: absolute;
    top: 15%;


}
/*self img section*/
.self img{
 width: 100%;
 max-height: 70%;
 position: relative;
 top: 40%;
}
/*end self img section*/
/* begin left section*/

.left1 {
    border-right-style: solid;
    border-color: black;
    width: 20%;
    display: flex;
    justify-content: left;
}
.left1 h2{
    display: flex;
    justify-content: right;
}
.left2 {
    border-right-style: solid;
    border-color: black;
    width: 20%;
    display: flex;
    justify-content: left;
    
}
.left3 {
    border-right-style: solid;
    border-color: black;
    width: 20%;
    display: flex;
    justify-content: left;
    
}
.list ul li{
    display: inline-block;
    float: right;
    Margin: 20 20 20 10;
    padding: 20 20 20 10;
}
/*right section*/
.div1 {
    max-width: 25%;
    max-height: 20%;
    float: right;
}
.bio p{
    display: flex;
    justify-content: right;
    width: 80%
}
